body {
    background: url(images/fantasy\ world_web_movil.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


h1 {
    font-size: 40px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    align-items: center;
    margin: 50px 150px 50px 190px;
}

h2 {
    font-size: 20px;
    color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    align-items: center;
    margin: 8px 200px 50px 200px;
}

/* .inicio {
    background-image: url("./images/fantasy\ world_web_movil.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

} */
svg{
    color: aliceblue ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-right: 80px;
}
p{
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 80px;
    color: aliceblue;
}
img{
    width: 80px;
    height: 80px;
    margin: 80px 80px 0px 30px;
}

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    font-size: large;
    margin-bottom: 50px;
}

.cuadrado {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    background-color: none;
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border: none;
}
.RRSS{
    width: 900px;
    height: 300px;
    border: 3px solid white;
    display: flex;
    align-items:center ;
    margin-left: 50px;
    margin-top: 100px;
    border-radius: 10%;

}
.Contacto{
    width: 700px;
    height: 300px;
    border: 3px solid white;
    display: flex;
    align-items:center ;
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 10%;

}
.form-floating{
    width: 700px;
    height: 800px;

}
.fila {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly ;
    margin-bottom: 20px;
}

#bloque1{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orangered;
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border: none;
    padding-left: 80px;
    border-radius: 10%;

}
#bloque2{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border: none;
    padding-left: 80px;
    border-radius: 10%;

}
#bloque3{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border: none;
    padding-left: 80px;
    border-radius: 10%;

}
#bloque4{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border: none;
    padding-left: 80px;
    border-radius: 10%;

}
#bloque5{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border: none;
    padding-left: 80px;
    border-radius: 10%;

}
#bloque6{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(133, 104, 67);
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border: none;
    padding-left: 80px;
    border-radius: 10%;
}