body{
    width: 100%;
    height: 110%;
    /* margin-left: 3.5%; */
    background-size: cover;
    background: #0A122A no-repeat center center fixed;
}

/* CABECERO */

#cabeceroGeologia{
    margin: 5% 5% 5% 5%;
}
.tuclase {
    text-align: center; 
    font-family: Arial; 
    font-size: 50px; 
    COLOR: #1278BF; 
    text-shadow: 0px 0px 9px #508AD3;
    font-weight: bold;
    /* margin: 50px 150px 50px 190px; */
    margin: 5% 0% 5% 0%;
}
.h2{
    text-align: center; 
    font-family: Arial; 
    font-size: 30px; 
    COLOR: #1278BF; 
    text-shadow: 0px 0px 9px #508AD3;
    font-weight: bold;
    /* margin: 50px 150px 50px 190px; */
    margin: 5% 0% 5% 0%;
}
.parrafo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin: 0% 5% 0% 5%;
}
.d-block.w-100{
    width: 100%;
    height: auto;
    margin: 5% 0% 2% 0%;
    display: flex;
    border-radius: 3%;
}
.pieFoto{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: white;
    text-align: center;
}

/* CUERPO */

.cartas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly ;
    margin-bottom: 20px;
    color: white;
    margin:  5% 5% 5% 5%;
}
.card-img-top{
    width: 100%;
    height: 100%;
}
.card-text{
    width: 100%;
    height: 70%;
}

/* Parte de las RRSS */
ul{
    display: flex;
    flex-direction: row;
    align-items:stretch;
    margin-right: 30%;
}
.wrapper{
    display: flex;
    position: relative;
    top: 55px;
    left: 50%;
    margin-bottom: 10%;
    transform: translate(-50%, -50%);
    width: 550px;
}

  
.wrapper ul {
    list-style: none;
  }
.wrapper ul li {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #D8E2DC;
    float: left;
    transition: all 0.5s ease;
}
  
.wrapper ul li .fa {
    color: #D8E2DC;
    margin-top: 20px;
    transition: all 0.5s ease;
}
  
.wrapper ul li:hover.facebook {
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}
  
.wrapper ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}
  
  /*twitter*/
.wrapper ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}
  
.wrapper ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}
  
  /* instagram */
.wrapper ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}
  
.wrapper ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}
  
  /* google */
.wrapper ul li:hover.google {
    border: 5px solid #dd4b39;
    box-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
}
  
.wrapper ul li:hover .fa-google {
    color: #dd4b39;
    text-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
}
  
  /* whatsapp */
.wrapper ul li:hover.whatsapp {
    border: 5px solid #4dc247;
    box-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}
  
.wrapper ul li:hover .fa-whatsapp {
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
}
  
  
  /* media queries */
@media screen and (max-width: 1920px){
    .wrapper {
        width: 150px;
    }
    .wrapper ul li{
        margin:15px;
    }
    .wrapper ul li.google{
        margin-left: 15px;
    }
     
    .cartas{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly ;
        margin-bottom: 20px;
        color: white;
        margin:  5% 5% 5% 5%;
    }
    .card-img-top{
        width: 100%;
        height: auto;
    }
    .card-text{
        width: 100%;
        height: 70%;
    }
    
}
  
  @media screen and (max-width: 640px){
    .wrapper {
        width: 350px;
    }
    .wrapper ul li{
        margin-top: 10px;
    }
    .wrapper ul li.google{
        margin-left: 60px;
    }
    .cartas{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly ;
        margin-bottom: 20px;
        color: white;
        margin:  5% 5% 5% 5%;
    }
    .card-img-top{
        width: 100%;
        height: 100%;
    }
    .card-text{
        width: 100%;
        height: 70%;
    }
    
}
  
  
  @media screen and (max-width: 340px){
    .wrapper {
        width: 150px;
    }
    .wrapper ul li{
        margin:15px;
    }
    .wrapper ul li.google{
        margin-left: 15px;
    }
     
    .cartas{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly ;
        margin-bottom: 20px;
        color: white;
        margin:  5% 5% 5% 5%;
    }
    .card-img-top{
        width: 150%;
        height: 150%;
    }
    .card-text{
        width: 100%;
        height: 70%;
    }
}

