body {
  width: 90%;
  height: 110%;
  margin-left: 3.5%;
  /* background: url(images/fantasy\ world_web_movil.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #0A122A no-repeat center center fixed;

}

.tuclase {
    text-align: center; 
    font-family: Arial; 
    font-size: 50px; 
    COLOR: #1278BF; 
    text-shadow: 0px 0px 9px #508AD3;
    font-weight: bold;
    /* margin: 50px 150px 50px 190px; */
    margin: 5% 0% 5% 0%;
}

h2 {
    font-size: 30px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px 50px 0px;
}
p{
    font-size: 150%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
    color: aliceblue;
}
#cursiva{
  font-style: italic;
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0% 5% 5% 5%;
}

/* CARROUSEL */

.d-block.w-100{
  margin: 5% 5% 5% 5%;
  border-radius: 5%;
  width: 80%;
  height: auto;
}
#img1{
  width: 80%;
  height: auto;
  margin: 5% 0% 2% 12%;
  border-radius: 5%;
  
}



/* BOTONES */

nav ul {
    list-style-type: none;
    margin-left: 50px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 50px;
}

nav ul li {
    --c: white;
    color: var(--c);
    font-size: 14px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

/* .Contacto{
    width: 700px;
    height: 300px;
    border: 3px solid white;
    display: flex;
    align-items:center ;
    margin-left: 150px;
    margin-top: 50px;
} */

/* Bloques de contenidos */
a:link, a:visited{
  text-decoration: none;
  color: white;
  font-weight: bold;
}
a:hover{
  font-size: 105%;
}
svg{
    color: aliceblue ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-right: 80px;
}


.bloquesTematicos{
    margin-left: 50px;

}
.cuadrado {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    background-color: none;
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border: none;
}
.fila {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly ;
    margin-bottom: 20px;
}
.form-control{
    width: 700px;
    height: 300px;

}
#bloque1{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: orangered; */
    background: linear-gradient(110deg, #ff4500 60%, #e6734a 60%);
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border: none;
    padding-left: 80px;
    border-radius: 10%;

}
#bloque2{
    width: 300px;
    height: 300px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: black; */
    background: linear-gradient(110deg, #d8ab24 60%, #fdcd3b 60%);
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border: none;
    padding-left: 80px;
    border-radius: 10%;

}
#bloque3{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(110deg, #333028 60%, gray 60%);
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border: none;
    padding-left: 80px;
    border-radius: 10%;

}
#bloque4{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(110deg, green 60%, rgb(117, 165, 117) 60%);
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border: none;
    padding-left: 80px;
    border-radius: 10%;

}
#bloque5{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(110deg, blue 60%, rgb(50, 100, 194) 60%);
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border: none;
    padding-left: 80px;
    border-radius: 10%;

}
#bloque6{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(110deg, rgb(104, 81, 51) 60%, rgb(133, 104, 67) 60%);
    background-color: rgb(133, 104, 67);
    font-size: xx-large;
    font-weight: bold;
    color: black;
    border: none;
    padding-left: 80px;
    border-radius: 10%;
}
#rotulo{
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-right: 80px;
    color: aliceblue;
    padding-right: 50px;
}

/* Parte de las RRSS */
.wrapper {
    position: relative;
    top: 50px;
    left: 50%;
    margin-bottom: 10%;
    transform: translate(-50%, -50%);
    width: 550px;
  }
  
  .wrapper ul {
    list-style: none;
  }
  .wrapper ul li {
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #D8E2DC;
    float: left;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li .fa {
    color: #D8E2DC;
    margin-top: 20px;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover.facebook {
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
  }
  
  /*twitter*/
  .wrapper ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
  }
  
  /* instagram */
  .wrapper ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
  }
  
  /* google */
  .wrapper ul li:hover.google {
    border: 5px solid #dd4b39;
    box-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-google {
    color: #dd4b39;
    text-shadow: 0 0 15px #dd4b39;
    transition: all 0.5s ease;
  }
  
  /* whatsapp */
  .wrapper ul li:hover.whatsapp {
    border: 5px solid #4dc247;
    box-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
  }
  
  .wrapper ul li:hover .fa-whatsapp {
    color: #4dc247;
    text-shadow: 0 0 15px #4dc247;
    transition: all 0.5s ease;
  }
  
  
  /* media queries */

  
  @media screen and (max-width: 640px){
    .wrapper {
        width: 350px;
    }
    .wrapper ul li{
        margin-top: 10px;
    }
    .wrapper ul li.google{
        margin-left: 60px;
    }
    .d-block.w-100{
      margin: 5% 5% 5% 5%;
    }
    #contacto{
      font-size: 45px;
      margin: 5% 5% 2% 0%;
    }
    form {
      margin-top: 7px;
      margin-left:5%  auto;
      margin-right: 5% auto; 
    }
  }
  
  
  @media screen and (max-width: 340px){
    .wrapper {
        width: 150px;
    }
    .wrapper ul li{
        margin:15px;
    }
    .wrapper ul li.google{
        margin-left: 15px;
    }
    .d-block.w-100{
      margin: 5% 5% 5% 5%;
    }
    #contacto{
      font-size: 45px;
      margin: 5% 5% 2% 0%;
    }
    form {
      margin-top: 7px;
      margin-left:5%  auto;
      margin-right: 5% auto; 
    }

  }

  /* CONTACTO CON COMENTARIOS */
  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
#contacto{
    font-size: 30px;
    margin: 50px 0px 20px 0px;
    text-align: center;
    color: white; 
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
  form {
    margin-top: 7px;
    margin-left:5%  auto;
    margin-right: 10% auto; 
}
.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 30px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 15px;
  width:90%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 90%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  margin-left: 5%;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }