

  /* body{
    width: 90%;
  height: 110%;
  margin-left: 3.5%;
} */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
  background-color: hsl(210,50%,20%);
	 background: url(bg.png), linear-gradient(90deg, hsl(210,40%,12%), hsl(210,40%,20%), hsl(210,40%,12%));
	}

.txt[contenteditable] {
  outline: none;
}

/* Box ------------------------------------------------------ */

#box {
  padding: 50px;
  font-size: 5em;
  font-weight: bold;
}


/* txt ------------------------------------------------------ */

.txt {
  color: hsla(0,0%,0%,0);
  text-shadow: #fff 0 0 60px;
  transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
	}
	@-moz-document url-prefix() { .txt { text-shadow: #fff 0 0 20px; } } /* FF fix */

#box:hover .txt {
		text-shadow: #fff 0 0 5px;
		transition: text-shadow 1s cubic-bezier(0, 0.75, 0, 1);
}


/* ♥ ------------------------------------------------------ */

.♥ {
  margin: 0 10px;
  color: hsla(0,0%,0%,0);
  text-shadow: red 0 0 5px;
  transition: text-shadow 1s cubic-bezier(0, 1, 0, 1);
	}

#box:hover .♥ {
		text-shadow: red 0 0 100px;
		transition: text-shadow 2s cubic-bezier(0, 0.75, 0, 1);
}
  @-moz-document url-prefix() { #box:hover .♥ { text-shadow: red 0 0 20px; } } /* FF fix */

.parrafo{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 10px;
  font-style: normal;
  text-align: center;
  margin: 2% 5% 0% 5%;
}

#menu{
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  width: 90%;
  height: 20%;
  margin: 2% 0% 5% 0%;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 50px;
}
li{
  --c: white;
  color: var(--c);
  font-size: 14px;
  border: 0.3em solid var(--c);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

h3{
  display: flex;
  /* flex-direction: column-reverse;
  text-align-last: left; */
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20%;
  
}


img{
  width: 70%;
  height: 50%;
  margin: 5% 0% 5% 0%;
  border-radius: 5%;
}

.espacio{
  width: 100%;
  height: 50%;
  border: white;
}
a{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: normal;
}

@media screen and (max-width: 640px){
  .parrafo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    margin: 2% 5% 0% 5%;
  }

}
@media screen and (max-with:1920px){
  .parrafo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    margin: 2% 5% 0% 5%;
  }
  
}